body {
  font-family: Arial;
  background: #f4f6f9;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

button {
  padding: 10px 15px;
  background: #0a1f44;
  color: white;
  border: none;
  cursor: pointer;
}